ion-button{
    font-size: large;
    color:darkslategray;
}
ion-content{
    background-color: darkslategrey;
    width: 80%;
    justify-content: center;
}
form{
    margin-left: 25%;
    background-color: darkslategrey;
}
ion-item ion-label{
    font-size: 20px;
}
ion-icon{
    color:green;
}