#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
}

#container a {
    text-decoration: none;
}

#container strong {
    font-size: 30px;
    line-height: 36px;
}

#container p {
    font-size: 26px;
    line-height: 32px;
    color: #8c8c8c;
    margin: 0;
}

ion-content ion-toolbar {
    --background: translucent;
}
.form{
    background-color: darkslategrey;
    width: 50%;
    margin:10% 25%;
}
.form ion-button {
    margin: 2% 30%;
}

.form ion-item {
    margin-top: 2%;
    margin-left:10% ;
    margin-right:10% ;
}
ion-card-content {
    margin-bottom: 2%;
    background-color: darkslategrey;
}